{% extends "base.html" %}

{% block app_content %}
    <h1>{{ _('Administrar Sitio') }}</h1>
    <form action="" method="POST">
        <p><a href="{{ url_for('offices') }}">{{ _('Gestionar Oficinas') }}</a></p>
        <p><a href="{{ url_for('cities') }}">{{ _('Gestionar Ciudades') }}</a></p>
        <p><a href="{{ url_for('countries') }}">{{ _('Gestionar Paises') }}</a></p>
        <p><a href="{{ url_for('accounts') }}">{{ _('Gestionar Cuentas') }}</a></p>
        <p><a href="{{ url_for('audits') }}">{{ _('Gestionar Usuarios') }}</a></p>
    </form>
{% endblock %}