{% extends "base.html" %}

{% block app_content %}
    <h1>Administrad Sitio</h1>
    <form action="" method="POST">
        <p><a href="{{ url_for('offices') }}">Gestionar Oficinas</a></p>
        <p><a href="{{ url_for('cities') }}">Gestionar Ciudades</a></p>
        <p><a href="{{ url_for('countries') }}">Gestionar Paises</a></p>
        <p><a href="{{ url_for('accounts') }}">Gestionar Cuentas</a></p>
        <p><a href="{{ url_for('audits') }}">Gestionar Usuarios</a></p>
    </form>
{% endblock %}