{% extends "base.html" %}

{% block app_content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
     <link rel="stylesheet" href="/static/css/table.css">
</head>
<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Contacto</th>
        <th>País</th>
        <th>Saldo - Deudores por Venta</th>
        <th>Accion</th>
    </tr>
    <tbody>
        {% for cliente in clientes %}
        <tr data-href="{{ url_for('client_page', client_id=cliente.companiaId) }}" style="cursor:pointer">
            <td title="{{ cliente.companiaId }}">{{ cliente.companiaId }}</td>
            <td title="{{ cliente.companiaName }}" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ cliente.companiaName }}</td>
            <td title="{{ cliente.companiaAddres }}" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ cliente.companiaAddres }}</td>
            <td title="{{ cliente.companiaConutry }}">{{ cliente.companiaConutry }}</td>
            <td title="{{ cliente.companiaBalance }}" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ cliente.companiaBalance }}</td>
            <td title="Action">{{ cliente.companiaBalance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="/static/js/client_table.js"></script>

{% endblock %}