{% extends "base.html" %}

{% block app_content %}
<head>
    <style>
        table, th, td {
        border: 1px solid black;
        }
    </style>
</head>
<table style="width:100%">
    <tr>
        <th align="center">ID</th>
        <th align="center">Nombre</th>
        <th align="center">Contacto</th>
        <th align="center">País</th>
        <th align="center">Saldo - Deudores por Venta</th>
        <th align="center">Accion</th>
    </tr>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td title="{{ cliente.companiaId }}">{{ cliente.companiaId }}</td>
            <td title="{{ cliente.companiaName }}" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ cliente.companiaName }}</td>
            <td title="{{ cliente.companiaAddres }}" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ cliente.companiaAddres }}</td>
            <td title="{{ cliente.companiaConutry }}">{{ cliente.companiaConutry }}</td>
            <td title="{{ cliente.companiaBalance }}" align="right">{{ cliente.companiaBalance }}</td>
            <td title="Action">{{ cliente.companiaBalance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}