{% extends "base.html" %}

{% block app_content %}
    <h1>Hola, {{ current_user.username }}!</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.RegistrarCliente(size=32) }}<br>
            {% for error in form.RegistrarCliente.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.GestionarClientes(size=32) }}<br>
            {% for error in form.GestionarClientes.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
{% endblock %}