{% extends "base.html" %}

{% block app_content %}
    {% if current_user.role == "Audit" %}
    <h1> {{ current_user.username }}!</h1>
    {% else %}
    <h1> {{ current_user.client_name }}!</h1>
    {% endif %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {% if current_user.role == "Audit" %}
        <p>
            {{ form.RegistrarCliente(size=32) }}<br>
            {% for error in form.RegistrarCliente.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.GestionarClientes(size=32) }}<br>
            {% for error in form.GestionarClientes.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% endif %}
        {% if current_user.role == "Client" %}
        <p>
            {{ form.ClientMainPage(size=32) }}<br>
            {% for error in form.ClientMainPage.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% endif %}
    </form>
{% endblock %}