{% extends "base.html" %}

{% block app_content %}
<h1>Registrar Transacción</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.codigo_cuenta.label }}<br>
            {{ form.codigo_cuenta(size=32) }}<br>
            {% for error in form.codigo_cuenta.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.nombre_cuenta.label }}<br>
            {{ form.nombre_cuenta(size=32) }}<br>
            {% for error in form.nombre_cuenta.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.d_h.label }}<br>
            {{ form.d_h(size=32) }}<br>
            {% for error in form.d_h.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.numero_minuta.label }}<br>
            {{ form.numero_minuta(size=32) }}<br>
            {% for error in form.numero_minuta.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.concepto.label }}<br>
            {{ form.concepto(size=32) }}<br>
            {% for error in form.concepto.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.detalle.label }}<br>
            {{ form.detalle(size=32) }}<br>
            {% for error in form.detalle.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.fecha_movimiento.label }}<br>
            {{ form.fecha_movimiento(size=32) }}<br>
            {% for error in form.fecha_movimiento.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.monto.label }}<br>
            {{ form.monto(size=32) }}<br>
            {% for error in form.monto.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <p>{{ form.cancel() }}</p>
    </form>
{% endblock %}