{% extends "base.html" %}

{% block app_content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/table.css">
    <style>
         * {
    box-sizing: border-box;
  }
  
  #searchAccount {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
    </style>
</head>
<input type="text" id="searchAccount" onkeyup="searchFunction()" placeholder="Busqueda por cuenta.." title="Escriba el nombre de cuenta">
<table id="TransactionTable" style="width:100%">
    <tr>
        <th>{{ _('Codigo Cuenta') }}</th>
        <th>{{ _('Nombre Cuenta') }}</th>
        <th>{{ _('D/H') }}</th>
        <th>{{ _('Número Minuta') }}</th>
        <th>{{ _('Concepto') }}</th>
        <th>{{ _('Detalle') }}</th>
        <th>{{ _('Fecha Movimiento')}}</th>
        <th>{{ _('Monto')}}</th>
        <th>{{ _('Factura') }}</th>
    </tr>
    <tbody>
        {% for transaction in transactions %}
        <tr style="cursor:pointer">
            <td title="{{ transaction.codigo_cuenta }}">{{ transaction.codigo_cuenta }}</td>
            <td title="{{ transaction.nombre_cuenta }}" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ transaction.nombre_cuenta }}</td>
            <td title="{{ transaction.d_h }}">{{ transaction.D_H }}</td>
            <td title="{{ transaction.numero_minuta }}">{{ transaction.numero_minuta }}</td>
            <td title="{{ transaction.concepto }}" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ transaction.concepto }}</td>
            <td title="{{ transaction.detalle }}" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ transaction.detalle }}</td>
            <td title="{{ transaction.fecha_movimiento }}" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ transaction.fecha_movimiento }}</td>
            <td title="{{ transaction.monto }}" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ transaction.monto }}</td>
            <!-- <td title="{{ client_balance }}" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ client_balance }}</td> -->
            <td><a title="Descargar" href="{{ url_for('download_transaction_doc',  client_id=client_id, transaction_id=transaction.transactionId) }}"><span class="glyphicon glyphicon-download-alt"></span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
{% if current_user.role == "Audit" %}
{% if documentation %}
<p><a href="{{ url_for('download_docs', client_id=client_id) }}">{{ _('Descargar Facturas') }}</a></p>
<br>
{% endif %}
<button type="button" onclick="UploadResults(this)">{{ _('Subir Resultados') }}</button>
<br>
{% endif %}
<button type="button" onclick="exportTableToExcel('TransactionTable', 'libro-mayor - ' + {{ client_id }})">{{ _('Descargar Libro Mayor') }}</button>
<br>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h1>{{ _('Subir Documentacion') }}</h1>
            <form action="{{ url_for('upload_audit_results', client_id=client_id) }}" method="POST" enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Subir>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/transactions_table.js"></script>
<script>
    function searchFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchAccount");
    filter = input.value.toUpperCase();
    table = document.getElementById("TransactionTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
</script>
{% endblock %}