<p>Estimado {{ user.username }},</p>
<p>
    Para restablecer su contraseña haga 
    <!-- <a href="{{ url_for('reset_password', token=token, _external=True) }}"> -->
    <a href="{{ url_for('hashcode', hashCode=token, _external=True) }}">
        clic aquí.
    </a>.
</p>
<p>Alternativamente, puede pegar el siguiente enlace en la barra de direcciones de su navegador:</p>
<!-- <p>{{ url_for('reset_password', token=token, _external=True) }}</p> -->
<p>{{ url_for('hashcode', hashCode=token, _external=True) }}</p>
<p>Si no ha solicitado un restablecimiento de contraseña, simplemente ignore este mensaje.</p>
<p>Sinceramente,</p>
<p>El equipo de auditores</p>